/*
Close Unpinned Tabs
version 2025.10.31
Author PaRr0tBoY
https://github.com/PaRr0tBoY/Awesome-Vivaldi
Clear Unpinned Tabs with one button, must install with ClearTabs.js
*/

/* Clear Tabs Button Styles */
.tab-strip .separator {
  position: relative;
  /* margin-left: calc(var(--densityGap) * -2); */
}

.tab-strip .separator .clear-tabs-below-button {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 10px;
  color: #808080;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease, color 0.2s ease, background-color 0.2s ease;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  /* background-color: var(--colorBg); */
  background-color: var(--colorBgDarker);
  white-space: nowrap;
  pointer-events: none;
}

#tabs-container:hover .clear-tabs-below-button {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.clear-tabs-below-button:hover {
  color: white !important;
}
