/*
Config Center
version 2025.10.31
Author PaRr0tBoY
https://github.com/PaRr0tBoY/Awesome-Vivaldi
You may manage and config all your css mods and config them as well all in this file
*/

/* Import AutoHide folder CSS files */
@import "AutoHide/adaptiveBF.css";
@import "AutoHide/tabbar.css";
@import "AutoHide/Bookmarkbar.css";
/*@import "AutoHide/Panel.css";*/
@import "AutoHide/StatusBar.css";

/* Import Layout folder CSS files */
@import "Layout/main.css";
@import "Layout/NeatDial.css";
@import "Layout/FavouriteTabs.css";
@import "Layout/Addressbar.css";
@import "Layout/FindInPage.css";
@import "Layout/QuickCommand.css";
@import "Layout/DownloadPanel.css";
@import "Layout/ExtensionsPanel.css";
/* @import "Layout/themePreviewer.css"; */

/* Import EnhancedUX folder CSS files */
@import "EnhancedUX/BtnHoverAnime.css";
@import "EnhancedUX/TabsTrail.css";
@import "EnhancedUX/Quietify.css";
/* @import "EnhancedUX/LonM-selectableTextEverywhere.css"; */

/* Import JSIntegretion folder CSS files */
@import "JSIntegration/ClearTabs.css";
@import "JSIntegration/TidyTabs.css";
@import "JSIntegration/ArcPeek.css";
/* @import "JSIntegration/Accentmod.css"; */

/* Import under dev folder CSS files */
/* @import "Dev/TabStack.css"; */
/* @import "Dev/autoHidePanel.css"; */
/* @import "Dev/Tabbar.css"; */
/* @import "Dev/LineBreak.css"; */
/* @import "Dev/TileExpand.css"; */
/* @import "Layout/BraveStyleTabs.css"; */
/* @import "Layout/EdgeCurve.css"; */

/* Adjust Configure In :root */
:root {
    /* color, transparent, immersive */
    /* immersive requires immersiveAddressbar.js installed */
    --fluid-theme: color;
    /*on or off*/
    --fluid-compact-mode: off; /* Toggle on to Have a Thinner Main Tabbar */

    --fluid-float-tabbar: on; /* Make Tabbar Float Over Webpage When Expanding */
    --fluid-mask: off; /* When Tabbar Expand Show A Blurry Mask Over Webpage */
    --fluid-blur-hibernate-tab: off; /* Blur Hibernated Tabs */

    --fluid-delay: on; /* Whether to delay the tabbar expand/collapse animation */
    --fluid-border-radius: on; /* Whether to round the tabbar border radius when it expand */

    --fluid-tabs-grid: on; /* Whether to Show "Favourite Tabs" Grid */
    --fluid-pin-at-top: off; /* Experimental, Whether to Pin the "Favourite Tabs" at Top, quite buggy, toggle on at your own risk */

    --pinned-column-count: 3;
    --pinned-row-count: 3;
    --pinned-gap: 8px;
    --pinned-icon-size: 20px;
    --pinned-tab-height: 50px;

    --tabs-container-collapse-width-default: 44px;
    --tabs-container-collapse-width-compact: 7px; /* Compact Mode */

    --tabs-container-expand-width: 280px;
    --tabs-subcontainer-collapse-width: 44px;
    --tabs-subcontainer-expand-width: calc(
        var(--tabs-container-expand-width) +
            var(--tabs-subcontainer-collapse-width) -
            var(--tabs-container-collapse-width-default)
    );

    --Button-newtab-main-width: calc(var(--tabs-container-expand-width) / 2);
    --Button-newtab-sub-width: calc(var(--tabs-subcontainer-expand-width) / 2);

    --tabbar-margin-top: -6px;
    --tabbar-margin-bottom: 0px;
    --tabbar-padding: 7px; /* Set to 0 if any tabs position problem */

    /* Expand tab bar border change accordingly to border radius set in browser theme*/
    --tabbar-border-radius-collapse: 0px; /* Set to zero if you don't want round corner when tabbar collapsed */

    /* Animation speed when tabbars expand or collapse */
    --slow-animation-speed: 560ms;
    --animation-speed: 260ms;
    --fast-animation-speed: 140ms;

    /* Animation Delay Time */
    --transition-delay-time-expand: 0ms;
    --transition-delay-time-collapse: 200ms;

    /* Adaptive Skin */
    /* If you didn't set custom theme color, Tab bar accent from your browser theme color automatically */
    /* You can still add your own color, checkout example below */

    /* Transparent Color */
    /* --tabbar-bg-color-collapse: transparent;
  --tabbar-bg-color-expand: transparent;
  --tabbar-border-color-collapse: transparent;
  --tabbar-border-color-expand: transparent; */

    /* Theme Color */
    --tabbar-bg-color-collapse: unset;
    --tabbar-bg-color-expand: unset;
    --tabbar-border-color-collapse: unset;
    --tabbar-border-color-expand: unset;

    /* Dark Skin */
    /* --tabbar-bg-color-collapse: rgb(27, 27, 28);
  --tabbar-bg-color-expand: rgb(53, 58, 63);
  --tabbar-border-color-collapse: rgba(66, 73, 80, 0.856);
  --tabbar-border-color-expand: rgb(45, 123, 139); */

    /* ============================================ */
    /* Config Quietify.css */
    /* ============================================ */

    --tab-icon-size: 16px;
    --popup-icon-size: 14px;
    --panel-icon-size: 10px;

    /* ============================================ */
    /* Config toviArc legacy */
    /* ============================================ */

    --window-border: 4px;
    /*--mac-header: calc(var(--window-border));*/
    --mac-header: 0px;
    --win-header: calc(var(--window-border) + 20px);
    --linux-header: calc(var(--window-border) + 20px);
    --addressbar-height: 36px;
    --window-button-scale: 0.8;
    --window-button-opacity: 0.3;
    /*--tab-padding: calc(var(--window-border) / 2);*/
    --tab-padding: 0;
    --colorTransparent: transparent;

    /* Tab Styling Variables */
    --mod-whitespace-x: 3px;
    --mod-whitespace-y: 5px;
    --mod-whitespace-tabbar-right: 15px;
    --mod-mainbar-height: 25px;
}
